---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

		<h1>About Me</h1>
    <h2>An Astro site version!</h2>
    <p>I'm a Lighthouse Labs Web Development bootcamp graduate looking to learn new technologies such as Astro! That is why I am working through their introductory tutorial.</p>
	</body>
</html>